.div-student{
    width: 250px;
    padding: 8px;
    margin: 4px;
    color: #333;
    border: solid 1px silver;
    border-radius: 4px;
}

.div-student img{
    width: 100%;
}

.div-student h2{
    text-align: center;
    margin: 8px 0;
}

.div-student > p:last-child{
    margin-top: 8px;
    text-align: center;
}

.aprovacao{
    margin: 8px 0;
    padding: 8px;
    border-radius: 4px;
    color: #fff;
    text-align: center;
    background: black;
}

.aprovado{
    background-color: #306e09;
}

.reprovado{
    background-color: #c03118;
}