.form{
    width: 800px;
    padding: 24px 0;
}

.form div{
    margin-top: 8px;
}

.form label{
    display: block;
}

.form input{
    width: 100%;
    padding: 8px;
    font-size: 16px;
    border: solid 1px lightgrey;
    border-radius: 4px;
}

.form div:nth-child(6) label{
    display: inline;
}

.form div:nth-child(6) input{
    width: 30px;
}

.form div:last-child{
    padding: 24px;
    display: flex;
    justify-content: center;
}

.btn-padrao{
    background: #194265;
    color: #fff;
    border: none;
    border-radius: 4px;
    padding: 8px;
    margin: 4px;
    cursor: pointer;
}

.btn-padrao:hover{
    background: #ff7300;
}